<div class="container-fluid py-4">
    <div class="row">
            <div class="col-md-5 mx-auto">
                <form action="">
                <div class="form-group">
                    <label for="product">Select Product:</label>
                    <select class="form-control" id="product" required>
                        <option value="">--Select--</option>
                        {{#each products}}
                            <option value="{{product_id}}">{{product_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="startdate">Start Date:</label>
                    <input type="date" name="startdate" id="startdate" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="enddate">End Date:</label>
                    <input type="date" name="enddate" id="enddate" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="">Time Slot:</label><br>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="6 - 7 AM" id="timeslot1" name="timeslot1" checked onchange="showDays()">
                        <label class="form-check-label" for="timeslot1">
                            6 - 7 AM
                        </label>
                        <div id="qtytime1" class="ml-5" style="display: inline;">
                            <label for="" class="text-muted">Quantity</label>
                            <button type="button" class="btn btn-success btn-sm" onclick="add()">+</button>
                            <input type="text" class="" id="qty" style="width: 50px; border:1px solid gray; text-align: center;">
                            <button type="button" class="btn btn-success btn-sm" onclick="sub()">-</button>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="7 - 8 AM" id="timeslot2" name="timeslot2" onchange="showDays()">
                        <label class="form-check-label" for="timeslot1">
                            7 - 8 AM
                        </label>
                        <div id="qtytime2" class="ml-5" style="display: none;">
                            <label for="" class="text-muted">Quantity</label>
                            <button type="button" class="btn btn-success btn-sm" onclick="add()">+</button>
                            <input type="text" class="" id="qty" style="width: 50px; border:1px solid gray; text-align: center;">
                            <button type="button" class="btn btn-success btn-sm" onclick="sub()">-</button>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="6 - 7 PM" id="timeslot3" name="timeslot3" onchange="showDays()">
                        <label class="form-check-label" for="timeslot1">
                            6 - 7 PM
                        </label>
                        <div id="qtytime3" class="ml-5" style="display: none;">
                            <label for="" class="text-muted">Quantity</label>
                            <button type="button" class="btn btn-success btn-sm" onclick="add()">+</button>
                            <input type="text" class="" id="qty" style="width: 50px; border:1px solid gray; text-align: center;">
                            <button type="button" class="btn btn-success btn-sm" onclick="sub()">-</button>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label for="startdate">Deliver Model:</label>
                    <br>
                    <div class="form-check-inline">
                        <input type="radio" name="delivermode" value="Doorstep" id="delivermode1" class="form-check-input" name="delivermode" required>
                        <label for="form-check-label" for="">Doorstep</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="delivermode" value="In Hand" id="delivermode2" class="form-check-input" name="delivermode" required>
                        <label for="form-check-label" for="">In Hand</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" name="delivermode" value="Ring Bell" id="delivermode3" class="form-check-input" name="delivermode" required>
                        <label for="form-check-label" for="">Ring Bell</label>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-success btn-md">
                </form>
            </div>
        
    </div>
</div>

 <script>
    function add(){
        var qty = document.getElementById('qty').value != '' ? document.getElementById('qty').value : "0"
        document.getElementById('qty').value = parseFloat(qty) + 0.5 + "L"
    }

    function sub(){
        var qty = document.getElementById('qty').value != '' ? document.getElementById('qty').value : "0"
        qty = qty.split(" ")[0]
        if (parseFloat(qty) > 0){
            document.getElementById('qty').value = parseFloat(qty) - 0.5 + "L"
        } 
    }

    function showDays(){
        if(document.getElementById('timeslot1').checked){
            document.getElementById('qtytime1').style.display = 'inline'
        }else{
            document.getElementById('qtytime1').style.display = 'none'
        }

        if(document.getElementById('timeslot2').checked){
            document.getElementById('qtytime2').style.display = 'inline'
        }else{
            document.getElementById('qtytime2').style.display = 'none'
        }

        if(document.getElementById('timeslot3').checked){
            document.getElementById('qtytime3').style.display = 'inline'
        }else{
            document.getElementById('qtytime3').style.display = 'none'
        }
    }
    
</script> 