<h3 class="text-center my-5 font-weight-bolder">GET TOUCH US</h3>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card shadow p-5 mb-3 bg-white rounded guest-card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form>
                        <div class="form-group">

                            <label for="formGroupExampleInput">Full Name</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Jhon">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Email</label>
                            <input type="email" class="form-control" id="formGroupExampleInput"
                                placeholder="example@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="formGroupExampleInput">Message</label>
                            <textarea type="text" class="form-control" id="formGroupExampleInput"></textarea>
                        </div>
                        <center>
                           <button type="button" class="btn  btn-success btn-font">Submit</button>
                        </center>
                    </form>
                    <center></center>
                </div>
                <div class="col col-md-2"></div>
            </div>
        </div>

    </div>
    <div class="col-md-2"></div>
</div>