

<div class="row">
    <div class="mx-auto text-center">
        <a href="/subscription/trial" class="btn btn-success btn-lg mt-5 mb-5">TAKE A TRIAL</a>
        <br>
        <a href="/subscription/subscribeRequest" class="btn btn-success btn-lg">TAKE A SUBSCRIPTION</a>
    </div>
</div>